/* Basic */
body {
  background: #276a91;
  margin: 0;
  padding: 0;
  line-height: 16px;
	letter-spacing: 0em;
  font-weight: 300;
}
/* Header */
.header {
  text-align: center;
  color: white;
  background-color: #17394d;
  opacity: 0.7;
  line-height: 1.5;
  font-size: 24px;
  padding: 8px;
}

/* Dashboard */
.container.cards {
  display: flex;
  flex-direction: row;
}

.dashboard-title {
  display: flex;
  padding: 16px;
  font-size: 24px;
  color: #ababab;
}
/* List Box CSS */ 
.list-box {
  background-color: #dfdfdf;
  min-width: 200px;
  border-radius: 4px;
  margin: 0 8px;
}

.list-button {
  background-color: #17394d;
  min-width: 200px;
  color: #dfdfdf;
  margin: 8px 4px;
  padding: 8px 4px;
  border-radius: 4px;
}
.list-content {

}
.list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 4px;
}

.list-text {
  font-size: 24px;
  font-weight:300;
}

/* Card CSS */
.card {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 4px;
  padding: 8px 4px;
  border: 1px solid #ababab;
  border-radius: 3px;
}

.card-button {
  color: #767676;
  margin: 8px 4px;
  padding: 8px 4px;
}

/* Form CSS */

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 4px;
  padding: 8px 4px;
}

.form.list {
  background: #dfdfdf;
}
.input {
  border-radius: 3px;
  width: 75%;
  padding: 2px;
}
.save-button {
  background: rgb(68, 191, 68);
  color: white;
  border-radius: 4px;
  padding: 4px;
  width: 20%
}